.form-container {
    width: 40%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom:20px;
    box-sizing: border-box;
    box-shadow: 3px 5px 10px 3px rgb(172, 208, 242);
    border-radius: 6px;
    padding: 20px;
}

.form-title {
    font-size: 24px;
    font-weight: 600;
    color: rgb(59, 59, 59);
    text-align: center;
    margin-bottom: 15px;
}

.form-toggle {
    margin-top: 10px;
    font-size: 14px;

}

.form-toggle a {
    text-decoration: none;
    margin-left: 5px;

}

.orLine {
    border: 1px solid gray;
    width: 50%;
    height: 1px;
    margin-top: 10px;

}